@import './vars';

%wrapper {
  padding: 80px 0;
}

%underline {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: $--button-color;
    border-radius: 5px;
    transition: all $--transition;
  }

  &:hover:before {
    width: 100%;
  }

  &.active:before {
    width: 100%;
  }
}

%scrollbar {
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $--scrolbar-color;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $--scrolbar-color;
  }

  &::-webkit-resizer {
    display: none;
  }
}
