//colors
$--bg-color: #ffffff;
$--inputs-color: #f7f7f7;
$--features-color: #f2f4f7;
$--text-color: #475467;
$--rating-color: #ffc531;
$--button-color: #e44848;
$--main-color: #101828;

// transition
$--transition: 0.3s ease-in-out;

// fonts
$--main-font: 'Inter', sans-serif;
