//colors
$--bg-color: #ffffff;
$--white: #ffffff;
$--inputs-color: #f7f7f7;
$--features-color: #f2f4f7;
$--text-color: #475467;
$--rating-color: #ffc531;
$--button-color: #e44848;
$--button-hover-color: #8d0c0c;
$--main-color: #101828;
$--border: rgba(16, 24, 40, 0.2);

// transition
$--transition: 0.3s ease-in-out;

// fonts
$--main-font: 'Inter', sans-serif;
