//colors
$--bg-color: #ffffff;
$--white-color: #ffffff;
$--inputs-color: #f7f7f7;
$--features-color: #f2f4f7;
$--text-color: #475467;
$--rating-color: #ffc531;
$--button-color: #e44848;
$--button-hover-color: #8d0c0c;
$--main-color: #101828;
$--border-color: rgba(16, 24, 40, 0.2);
$--divider-color: rgba(16, 24, 40, 0.1);
$--grey-color: rgba(16, 24, 40, 0.6);
$--scrolbar-color: #d9d9d9;
$--loader-color: #3498db;

// transition
$--transition: 0.3s ease-in-out;

// fonts
$--main-font: 'Inter', sans-serif;
