@import '../../styles/main.scss';

.input_wrapper {
  position: relative;
  width: 100%;

  & > div:first-child {
    width: 100%;
  }
}

.input {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  padding: 18px;
  background-color: $--inputs-color;
  outline: none;
  border: none;

  font-weight: 500;
  font-size: 18px;
  color: $--main-color;

  &::placeholder {
    font-weight: 500;
    font-size: 18px;
    color: $--grey-color;
    text-transform: capitalize;
  }

  &.textarea {
    height: 114px;
    resize: none;
  }

  &.input_icon {
    padding-left: 44px;
  }
}

.label {
  font-weight: 500;
  color: $--grey-color;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.error {
  color: $--button-hover-color;
  margin-top: 5px;
}

.icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.icon_inner {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 18px;
  height: 20px;

  & > svg {
    width: 100%;
    height: 100%;
  }
}
